<div class="container-galeria">
    <div class="texto-titulo">
        <h2 class="texto-spa-font">spa center</h2>
        <h3 class="texto-spa">Nossa Galeria</h3>
    </div>
    <div class="blocos-galeria-imagem">
        <figure>
            <img src="./src/img/galeria/imagem1.png" alt="" class="img-galeria">
        </figure>
         <figure>
            <img src="./src/img/galeria/imagem2.png" alt="" class="img-galeria">
        </figure>
         <figure>
            <img src="./src/img/galeria/imagem3.png" alt="" class="img-galeria">
        </figure>
         <figure>
            <img src="./src/img/galeria/imagem4.png" alt="" class="img-galeria">
        </figure>
    </div>
</div>



<div id="modal-galeria" class="modal">
  
</div>