<div class="container-section-hero">
    <div class="slide-imagem-hero">
        <img 
        src="./src/img/hero/imagem1.jpg" 
        alt="imagem do hero pés e mãos"
        class="imagem-slide-hero"
        >
    </div>
    <div class="slide-imagem-hero">
        <img 
        src="./src/img/hero/imagem2.jpg" 
        alt="imagem do hero pés e mãos"
        class="imagem-slide-hero"
        >
    </div>
    <div class="slide-imagem-hero">
        <img 
        src="./src/img/hero/imagem3.jpg" 
        alt="imagem do hero pés e mãos"
        class="imagem-slide-hero"
        >
    </div>
    <div class="slide-imagem-hero">
        <img 
        src="./src/img/hero/imagem4.jpg" 
        alt="imagem do hero pés e mãos"
        class="imagem-slide-hero"
        >
    </div>
    <a href="#" class="antes" onclick='mostraSlide(1)'>
        <
    </a>
    <a href="#" class="depois" onclick='mostraSlide(2)'>
        >
    </a>
</div>