<div class="container-section-hero">
    <div class="slide-imagem-hero">
        <img 
        src="./src/img/hero/imagem1.jpg" 
        alt="imagem do hero pés e mãos"
        class="imagem-slide-hero"
        >
    </div>
    <div class="slide-imagem-hero">
        <img 
        src="./src/img/hero/imagem2.jpg" 
        alt="imagem do hero pés e mãos"
        class="imagem-slide-hero"
        >
    </div>
    <div class="slide-imagem-hero">
        <img 
        src="./src/img/hero/imagem3.jpg" 
        alt="imagem do hero pés e mãos"
        class="imagem-slide-hero"
        >
    </div>
    <div class="slide-imagem-hero">
        <img 
        src="./src/img/hero/imagem4.jpg" 
        alt="imagem do hero pés e mãos"
        class="imagem-slide-hero"
        >
    </div>
    <a href="#" class="antes" id="btn-antes">
        <i data-lucide="arrow-left-to-line"></i>
    </a>
    <a href="#" class="depois" id="btn-depois">
       <i data-lucide="arrow-right-to-line"></i>
    </a>
</div>