<div class="container-precos">
    <div class="texto-titulo">
        <h2 class="texto-spa-font">spa center</h2>
        <h3 class="texto-spa">Nossos Preços</h3>
    </div>
    <div class="container-cards-precos">
        <div class="card-precos">
            <figure>
                <img src="./src/img/preco/imagem1.jpg" alt="" class="imagem-card-preco">
            </figure>
            <ul class="descricao-card-preco">
                <li>
                    Corte de cabelo
                </li>
                <li>
                    Pintura de Cabelo
                </li>
                <li>
                    Terapia Carpilar
                </li>
            </ul>
           <button class="btn-base">
                selecione o plano              
           </button>
        </div>
        <div class="card-precos">
            <figure>
                <img src="./src/img/preco/imagem2.jpg" alt="" class="imagem-card-preco">
            </figure>
            <ul class="descricao-card-preco">
                <li>
                    Corte de cabelo
                </li>
                <li>
                    Pintura de Cabelo
                </li>
                <li>
                    Terapia Carpilar
                </li>
            </ul>
           <button class="btn-base">
                selecione o plano              
           </button>
        </div>
        <div class="card-precos card-detalhe">
            <figure>
                <img src="./src/img/preco/imagem3.jpg" alt="" class="imagem-card-preco">
            </figure>
            <ul class="descricao-card-preco">
                <li>
                    Corte de cabelo
                </li>
                <li>
                    Pintura de Cabelo
                </li>
                <li>
                    Terapia Carpilar
                </li>
            </ul>
           <button class="btn-base btn-detalhe">
                selecione o plano              
           </button>
        </div>
        <div class="card-precos">
            <figure>
                <img src="./src/img/preco/imagem4.jpg" alt="" class="imagem-card-preco">
            </figure>
            <ul class="descricao-card-preco">
                <li>
                    Corte de cabelo
                </li>
                <li>
                    Pintura de Cabelo
                </li>
                <li>
                    Terapia Carpilar
                </li>
            </ul>
           <button class="btn-base">
                selecione o plano              
           </button>
        </div>
    </div>
</div>