<div class="container-servicos">
                <div class="texto-titulo-servicos">
                    <h2 class="texto-spa-font-servicos">spa center</h2>
                    <h3 class="texto-spa-servicos">O que Você escolhe</h3>
                </div>
                <div class="imagem-texto-servicos">
                    <div class="imagem-card-servicos">
                        <figure>
                            <img src="./src/img/servicos/spa_servicos.png" alt="">
                        </figure>
                    </div>
                    <div class="lista-texto-servicos">
                        <h2>Tratamentos especiais</h2>
                        <div class="texto-lista-servicos">
                            <ul class="lista-coluna-servicos">
                                <li>
                                    criado com ervas naturais
                                </li>
                                <li>
                                    100% seguro para pele
                                </li>
                                <li>
                                    tratamento diferenciado de outro spa
                                </li>
                                <li>
                                    qualidade dos produtos de laboratórios
                                </li>
                                <li>
                                    ofertas especiais e cupom de desconto
                                </li>
                                <li>
                                    criado por medicos especialistas de laboratório  de spa
                                </li>
                            </ul>
                        </div>
                        <div class="texto-contabiliza-servicos">
                            <ul class="lista-linha-servicos">
                                <li>
                                    <span>
                                        135
                                    </span>
                                    <span>
                                        clientes
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        28
                                    </span>
                                    <span>
                                        terapeutas
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        46
                                    </span>
                                    <span>
                                        procedimentos
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        27
                                    </span>
                                    <span>
                                        tratamentos
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <button class="btn-cta-servicos" id="btn-servicos" ><i data-lucide="gift"></i> Fazer Orçamento</button>
                    </div>
                </div>
            </div>