<div class="texto-sobre">
                <h2>
                    bem vindo a
                </h2>
                <figure>
                    <img src="./src/img/sobre/logo-sobre.png" alt="logo do kidetalhe" id="logo-sobre">
                </figure>
                <h2>
                    Cuidado que se revela a cada detalhe
                </h2>
                <p class="descricao-card-sobre">
                   A Ki Detalhe nasceu para transformar o cuidado com pés e mãos em uma experiência de beleza, bem-estar e valorização pessoal. Cada atendimento é realizado com atenção, delicadeza e respeito às necessidades de cada cliente, em um ambiente pensado para proporcionar conforto e tranquilidade. 
                </p>
            </div>
            <div class="container-cards">
                <div class="card-sobre">
                    <figure>
                        <img src="./src/img/sobre/imagem-card1.webp" alt="" class="imagem-card-sobre">
                    </figure>
                    <div class="texto-card">
                        <h2>
                            Manicure Essencial
                        </h2>
                        <p class="descricao-card-sobre">
                            Cuidado completo das unhas, acabamento delicado e esmaltação personalizada.
                        </p>
                        <h3 class="preco-card-sobre">
                            Apartir de R$ 35,00
                        </h3>
                    </div>
                </div>
                 <div class="card-sobre">
                    <figure>
                        <img src="./src/img/sobre/imagem-card2.webp" alt="" class="imagem-card-sobre">
                    </figure>
                    <div class="texto-card">
                        <h2>
                            Manicure Essencial
                        </h2>
                        <p class="descricao-card-sobre">
                            Cuidado completo das unhas, acabamento delicado e esmaltação personalizada.
                        </p>
                        <h3 class="preco-card-sobre">
                            Apartir de R$ 35,00
                        </h3>
                    </div>
                </div>
                 <div class="card-sobre">
                    <figure>
                        <img src="./src/img/sobre/imagem-card3.webp" alt="" class="imagem-card-sobre">
                    </figure>
                    <div class="texto-card">
                        <h2>
                            Manicure Essencial
                        </h2>
                        <p class="descricao-card-sobre">
                            Cuidado completo das unhas, acabamento delicado e esmaltação personalizada.
                        </p>
                        <h3 class="preco-card-sobre">
                            Apartir de R$ 35,00
                        </h3>
                    </div>
                </div>
                 <div class="card-sobre">
                    <figure>
                        <img src="./src/img/sobre/imagem-card4.webp" alt="" class="imagem-card-sobre">
                    </figure>
                    <div class="texto-card">
                        <h2>
                            Manicure Essencial
                        </h2>
                        <p class="descricao-card-sobre">
                            Cuidado completo das unhas, acabamento delicado e esmaltação personalizada.
                        </p>
                        <h3 class="preco-card-sobre">
                            Apartir de R$ 35,00
                        </h3>
                    </div>
                </div>
            </div>