*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span{
    display: flex;
    align-items: center;
    padding: 11px;
    gap: 11px;
}
a{
    text-decoration: none;
    font-size: var(--tamanho-fonte-ancora);
}
h1{
    font-size: var(--tamanho-fonte-titulo);
}
h2{
    font-size: var(--tamanho-fonte-subtitulo);
}
p{
    font-size: var(--tamanho-fonte-texto-padrao);
}