*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span{
    display: flex;
    align-items: center;
    padding: 11px;
    gap: 11px;
}
a{
    text-decoration: none;
    font-size: var(--tamanho-fonte-ancora);
}
h1{
    font-size: var(--tamanho-fonte-titulo);
}
h2{
    font-size: var(--tamanho-fonte-subtitulo);
}
p{
    font-size: var(--tamanho-fonte-texto-padrao);
}

.btn-topo{
    display: none;
    position: fixed;
    bottom: 80px;
    right: 60px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}