*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span{
    display: flex;
    align-items: center;
    padding: 11px;
    gap: 11px;
}
a{
    text-decoration: none;
    font-size: var(--tamanho-fonte-ancora);
}
h1{
    font-size: var(--tamanho-fonte-titulo);
}
h2{
    font-size: var(--tamanho-fonte-subtitulo);
}
p{
    font-size: var(--tamanho-fonte-texto-padrao);
}
li{
    padding: 10px;
}
.btn-topo{
    display: none;
    position: fixed;
    bottom: 80px;
    right: 60px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.texto-titulo{
     display: flex;
     flex-direction: column;
     align-items: center;
}
.texto-spa-font{
     font-family: "Bonheur Royale", cursive;
     font-weight: 400;
     font-style: normal;
     font-size: var(--tamanho-fonte-titulo);
}
.texto-spa{
     font-family: "Plus Jakarta Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
}

.btn-base{
     width: 180px;
     height: 50px;
     background: var(--cor-gradiente-base);
     color: var(--cor-contraste);
     border-radius: 30px;
     cursor: pointer;
}
.btn-base:hover{
    background-color: var(--cor-primaria);
    transition: 0.5s;
}
.btn-base:active{
    box-shadow: inset 0px 3px 0px 3px;
    transform: translateY(2px);
    transition: 0.2s;
}