#hero{
    display: flex;
    background-color: rgb(78, 34, 189);
}
.container-section-hero{
    position: relative;
    max-width: 1200px;
    height: 80vh;
}

.slide-imagem-hero{
    position: absolute;
    background-color: blueviolet;
    max-width: 1200px;
    margin: auto;
    height: 600px;
    top: 0px;
    left: 50px;
    display: none;
}
.antes, .depois{
    position: absolute;
    top:50%;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
}
.depois{
    right: 0;
}
