#hero{
    display: flex;
    background-color: rgb(78, 34, 189);
}
.container-section-hero{
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: auto;
}

.slide-imagem-hero{
    background-color: blueviolet;
    max-width: 100%;
    margin: auto;
    top: 0px;
    display: none;
}
.antes, .depois{
    position: absolute;
    top:50%;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
}
.depois{
    right: 0;
}
.imagem-slide-hero{
    width: 100%;
}