#logo{
    height: 75px;
}
.nav-secundaria{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--cor-gradiente-base);
    height: 50px;
    list-style-type: none;
}
.nav-secundaria--coluna1, .nav-secundaria--coluna2{
    display: flex;
}
.nav-primaria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.navegacao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    list-style: none;
}