:root{
    --cor-primaria: #DA6D8C;
    --cor-secundaria: #F2CCD7;
    --cor-terciaria: #F8F0ED;
    --cor-rodape-secundario: #38272D;
    --cor-rodape-primario: #A9B69C;
    --cor-detalhe: #E8C875;
    --tamanho-fonte-titulo: 2rem;
    --tamanho-fonte-subtitulo: 1.5rem;
    --tamanho-fonte-texto-padrao: 1rem;
    --tamanho-fonte-ancora: 1.25rem;
}